body {
  background-color: white;
  color: white;
}
section {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

footer {
  width: 100% !important;
  color: white !important;
  left: 0;
  bottom: -2;
  position: absolute;
}

.nav-links {
  color: white !important;
  margin: auto 10px;
  font-size: 16px;
}


@media screen and (max-width: 500px) {
  .contest-img{
    width:30vw !important;
  }
}

@media screen and (min-width: 810px) {

   .contest-img{
    width:10vw !important;
  }
}